<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="alert alert-danger col-6 offset-md-3 mt-3" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
            </div>
        </div>
    </body>